body{
    margin:0px;
    padding:0px;
    background-color:#2171b2;
}
a{
    text-decoration: none;
}
.box{
    width:300px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
    /*position: absolute;
    left: 50%;
    top:50%;
    transform:translate(-50%,-50%);*/
    margin:25px;
}
.slide-img{
    height: 450px;
    position: relative;
}
.slide-img img{
    width:100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}
.detail-box{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 20px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
.type{
    display: flex;
    flex-direction: column;
}
.type a {
    color:#fff;
    margin:5px 0px;
    font-weight: 900;
    letter-spacing: 0.5px;
    padding-right: 8px;
}
.type span{
    color:#fff;
    font-weight: 900;
}
.price{
    color:#fff;
    font-weight: 900;
    font-size: 1.1rem;
    font-family: fantasy;
    letter-spacing: 0.5px;
}
.overlay{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:100%;
    height:100%;
    background-color: rgba(224,233,243,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
.buy-btn{
    width:160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color:#252525;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}
.buy-btn:hover{
    color:#fff;
    background-color: #2171b2;
    transition: all ease 0.3s;
}
.overlay{
    visibility: hidden;
}
.slide-img:hover .overlay{
    visibility: visible;
    animation:fade 0.5s;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.slider{
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:0;
}
/*estilos de la imagen*/
.contendor-imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}
.contendor-imagen .tianguis-titulo{

    background-color:#097bff;
    display:block;
    width:100%;
    padding:50px;
    font-size:30px;
    color:#fff;
    text-align:center;
    margin:5px 0px;
    font-weight: 100;
    letter-spacing: 0.5px;
    margin-top:0;
    font-family:Roboto, Helvetica, Arial,sans-serif;
}

.contendor-imagen img{
    border-radius:20px;
}

@media (max-width:900px){
    .contendor-imagen{
        flex-direction: row-reverse;
        margin-bottom:10px;
        transition-duration: 500ms;
        transition-timing-function: ease-out;
    }
    .contendor-imagen .tianguis-titulo{
        font-size:40px;
        padding:40px;
        margin:0;
    }
    .contendor-imagen img{
        margin-right:0px;
        width:190px;
    }
    .cs-hidden{
        display:flex;
        flex-direction: row-reverse;
        
    }
}
@media (max-width:700px){
    .contendor-imagen{
        margin-bottom:5px;
    }
    .contendor-imagen .tianguis-titulo{
        font-size:45px;
        padding:20px;
        margin:0;
    }
    .contendor-imagen img{
        margin-right:5px;
        width:180px;
    }
}
@media (max-width:500px){
    .contendor-imagen{
        margin-bottom:2px;
    }
    .contendor-imagen .tianguis-titulo{
        font-size:20px;
        padding:10px;
        margin:0;
    }
    .contendor-imagen img{
        margin-right:5px;
        width:100px;
    }
}
